.searchBar-button {
	background-image: linear-gradient(#a86a0d, #4d2b04 50%);
	border-radius: 42px;
	border-width: 0;
	box-shadow: rgba(65, 32, 1, 0.24) 0 2px 2px, rgba(194, 99, 10, 0.4) 0 8px 12px;
	color: white;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 16px;
	margin: 0;
	padding: 18px 18px;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(65, 38, 3, 0.2) 0 0 12px,
		rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(80, 43, 2, 0.32) 4px 4px 16px;
}

.searchBar-button:hover {
	background: linear-gradient(
		90deg,
		rgba(245, 156, 0, 1) 0%,
		rgba(222, 156, 56, 1) 42%,
		rgba(112, 65, 6, 1) 100%
	);
	color: var(--brown);
}

@media (min-width: 768px) {
	.button-72 {
		font-size: 21px;
		padding: 18px 34px;
	}
}

select {
	padding: 1em 20em;
	border-radius: 2em;
	font-weight: 500;
	text-align: center;
	color: black;
	background-color: rgb(238, 228, 230);
	font-family: 'Luxurious Roman';
}

.searchBar-container {
	margin-top: 8%;
	margin-bottom: 5%;
}


.text {
	font-size: 5em;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    padding: 0;
	color: var(--beige);
	text-shadow: 8px 8px #4d2b04 ;
}