.attraction-container {
	background-color: var(--beige);
	max-width: 600px;
	margin: 2em;
	/* margin-left: 25em; */
	flex-direction: row;
	flex-wrap: wrap;
}

.attraction-img-containe {
	max-height: 200px;
}

.attraction-img {
	max-width: 100%;
	max-height: 100%;
}

.all-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2em;
}
